.emailList__settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    position: sticky;
    z-index : 999;
    padding-right: 20px; 
    align-content: center;
}



.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList__section{
    height: 40px;
    display: flex;
    top:0;
    position: sticky;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
    /* justify-content: space-evenly; */
    
}

.emailList__list{
    padding-bottom: 20% ;
}